.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 8px;
}

.card__heading {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
  max-width: 353px;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/heart-logo.svg.svg);
  background-color: transparent;
  width: 23px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 40%;
  height: 20px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 650px) {
  .card__image {
    height: 288px;
  }
  .card__heading {
    font-size: 16px;
    line-height: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
