.modal {
  position: fixed; /*fixes the container to the browser windwow */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  background-color: white;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  box-sizing: border-box;
  position: relative; /*give position relative to container so that item is anchored inside, which in this case is the close button */
  border-radius: 8px;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__close-button:hover {
  opacity: 100%;
}

.modal__title {
  display: flex;
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  opacity: 70%;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  color: #fcf5e5;
  background-color: #212121;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  border-radius: 8px;
  border-color: #212121;
  border-width: 1px;
  cursor: pointer;
  opacity: 40%;
}

.modal__input:hover {
  opacity: 100%;
}

@media screen and (max-width: 650px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 100%;
  }

  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-button {
    width: 100%; /*makes button fit the whole container when in media screen */
  }
}
