.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px #212121 solid;
}

.profile__aviator {
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__header {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__subheader {
  margin: 12px 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  display: flex;

  gap: 8px;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__plus-button {
  margin-left: auto;
  display: flex;
  gap: 8px;
  color: #fcf5e5;
  height: 52px;
  width: 157px;
  align-items: center;
  width: 157px;
  padding: 0;
  justify-content: center;
  background-color: #212121;
  align-self: flex-end;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.profile__plus-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 288px;
    padding-top: 20px;
  }

  .profile__aviator {
    margin: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
    border-radius: 10px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__subheader {
    text-align: center;
    margin: 6px 0 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .profile__edit-button {
    padding: 0;
    align-self: center;
    border-radius: 10px;
  }

  .profile__plus-button {
    padding-bottom: 20px;
    margin: 0;
    max-width: 288px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    align-self: center;
  }

  .profile__header {
    font-size: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }
}
